<div class="jumbotron">
  <h1>{{main.name}}</h1>
</div>

<div class="row">
  <div class="input-group"
       moment-picker="main.pickerInput"
       format="LL"
       min-view="year"
       max-view="month"
       start-view="month"
       today="true"
       max-date="main.todayDate"
       start-date="main.todayDate">
      <span class="input-group-addon">
          <i class="octicon octicon-calendar"></i>
      </span>
      <input class="form-control"
             placeholder="Select a date"
             ng-model="main.pickerInput"
             ng-model-options="{ updateOn: 'blur'}">
  </div>
</div>

<div class="row">
  <ul class="moodScaleList" ng-repeat="grade in main.myMoodScale">
    <li class="moodGrade listItem">
      <button ng-click="main.setMood(grade)" >{{grade}}</button> 
    </li>  
  </ul>
  <p ng-show="main.todayMood !== null">You have set your mood to: {{main.todayMood}}</p>
</div>
<div class="row" ng-show="main.moodStory.length>0">
  <div class="col-xs-12">
  <h3>Your history</h3>
    <ul>
      <li class="listItem" ng-repeat="mood in main.moodStory">
        {{mood.value}}  -  {{mood.date | date: 'd MMM yyyy, H:mm:ss'}}
      </li>
    </ul>
  </div>
</div>
